{% load i18n %}
{% load static %}
    <!-- ======= Recent Blog Posts Section ======= -->
    <section id="recent-blog-posts" class="recent-blog-posts">

      <div class="container" data-aos="fade-up">

        <div class="section-header">
          <h2>Blog</h2>
          <p>{% trans "Nos récents articles de blog" %}</p>
        </div>

        <div class="row">
        {% for article in articles %}
          <div class="col-lg-4" data-aos="fade-up" data-aos-delay="200">
            <div class="post-box">
              <div class="post-img"><img src="{{article.image.url}}" class="img-fluid" alt=""></div>
              <div class="meta">
                <span class="post-date">{{ article.date_published.date }}</span>
                <span class="post-author"> / {{article.author.last_name}}</span>
              </div>
              <h3 class="post-title">{{article.title}}</h3>
              <p>{{article.lead_paragraph}} ...</p>
              <a href="{{ article.get_absolute_url }}" class="readmore stretched-link"><span>{% trans 'Lire Plus' %}</span><i class="bi bi-arrow-right"></i></a>
            </div>
          </div>
        {% endfor %}

        </div>

        <div class="d-flex flex-column text-center read-more mt-auto">
            <a href="../blog/">Voir tous les blogs</a>
        </div>

      </div>

    </section><!-- End Recent Blog Posts Section -->