{% load i18n %}
{% load static %}
<!-- ======= Hero Section ======= -->
  <section id="hero" class="hero carousel  carousel-fade" data-bs-ride="carousel" data-bs-interval="5000">

    <div class="carousel-item active">
      <div class="container">
        <div class="row justify-content-center gy-6">

          <div class="col-lg-5 col-md-12">
            <img src="{% static 'assets/img/hero-carousel/rafgo_map.png' %}" alt="" class="img-fluid2 img">
          </div>

          <div class="col-lg-9 text-center">
            <h2>{% trans 'Bienvenue au' %} <span>RAFGO</span></h2>
            <p>{% trans  "Réseau des Organisations de la Société Civile d'Afrique Francophone pour le Gouvernement Ouvert" %}</p>
            <a href="#featured-services" class="btn-get-started scrollto">{% trans "Chiffres Clés" %} <i class="bi bi-graph-up-arrow"></i></a>
          </div>

        </div>
      </div>
    </div><!-- End Carousel Item -->
    
    {% for article in featured_articles %}
    <div class="carousel-item">
      <div class="container">
        <div class="row justify-content-center gy-6">

          <div class="col-lg-8 col-md-12">
            <img src="{{article.image_featured.url}}" alt="" class="img-fluid2 img">
          </div>

          <div class="col-lg-9 text-center">
            <h4>{{article.title}}</h4>
            <p>{{article.lead_paragraph}}</p>
            <a href="{{ article.get_absolute_url }}" class="btn-get-started scrollto ">Lire l'article</a>
          </div>
        </div>
      </div>
    </div><!-- End Carousel Item -->
    {% endfor %}

    <a class="carousel-control-prev" href="#hero" role="button" data-bs-slide="prev">
      <span class="carousel-control-prev-icon bi bi-chevron-left" aria-hidden="true"></span>
    </a>

    <a class="carousel-control-next" href="#hero" role="button" data-bs-slide="next">
      <span class="carousel-control-next-icon bi bi-chevron-right" aria-hidden="true"></span>
    </a>

    <ol class="carousel-indicators"></ol>

  </section><!-- End Hero Section -->